<h2>Donors Sign In</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>
	
	<%= f.input :email, label_html: { class: 'form_padding' }  %>
  <%= f.input :password, label_html: { class: 'form_padding' } %>


  <div class="form-actions">
    <%= f.submit "Sign in", class: "btn btn-primary" %>
  </div>
<% end %>


<%= render "donors/shared/links" %>

