<h2>Donors Sign Up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

<ul class="form_style">
  <%= f.input :name, label_html:  { class: 'form_padding'} %>
  <%= f.input :email, label_html: { class: 'form_padding' }  %>
  <%= f.input :password, label_html: { class: 'form_padding' }  %>
  <%= f.input :password_confirmation, label_html: { class: 'form_padding'} %>
  <%= f.input :story, label_html:  { class: 'form_padding'} %>
  <%= f.input :airline, label_html:  { class: 'form_padding'} %>
  <%= f.input :rewards, label_html:  { class: 'form_padding'} %>
</ul>

  <div class="form-actions">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "donors/shared/links" %>
