<div class="splash">
  <div class="inner">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <br />
          <h1>
            Every Mile Creates A Smile
          </h1>
          <h2>
            Donate Airline-miles so refugees
            <br/>
            can fly home &amp see their families
            <br/>
            Tweet us @App_Smile
            <br />
            <br />

            <div class="row">
               <p><%= link_to "Donor Sign Up", new_donor_registration_path, class: "btn btn-success btn-lg" %>
              <%= link_to "Amnest Sign Up", new_amnest_registration_path, class: "btn btn-primary btn-lg" %></p>

            </div>

           
          </h2>
          <br />
          <br />
        </div>
        <div class="col-md-4">
          <%= image_tag '' %>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>Step 1: List Miles </h2>
      <p> Currently we allow people to list how many miles they have and be contacted by people in need of flights. In the near future, we will convert your points to miles for you. </p>
      <p><%= link_to "List S'MILEs", miles_path, class: "btn btn-default" %></p>
      
    </div>
    <div class="col-lg-4">
      <h2>Step 2: Matching System </h2>
      <p> We will contact you and do an introduction to match you with qualifed individuals. It is in the discreation of individuals to coordinate exact details for privacy purposes </p>
      <% if donor_signed_in? %>
        <p><%= link_to "S'MILE Now", matching_path, class: "btn btn-default" %></p>
        <% elsif amnest_signed_in?%>
        <p><%= link_to "S'MILE Now", matching_path, class: "btn btn-default" %></p>
        <% else %>
          <p><%= link_to "S'MILE Now", login_path, class: "btn btn-default" %></p>
      <% end %> 
   </div>
    <div class="col-lg-4">
      <h2>Step 3: Flight </h2>
      <p> We visualize on a map the people we help on a day-to-day basis </p>
      <p><%= link_to "S'MILE Flight", flight_path, class: "btn btn-default" %></p>
    </div>
  </div>
  
</div> <!-- /container -->  

     <!-- a lot of security issues need to be addressed -->
