<%= simple_form_for(@mile) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :airline %>
    <%= f.input :rewards %>
   	<%= f.input :email %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
