<p id="notice"><%= notice %></p>

<p>
  <strong>Airline:</strong>
  <%= @mile.airline %>
</p>

<p>
  <strong>Rewards:</strong>
  <%= @mile.rewards %>
</p>

<p>
  <strong>Email:</strong>
  <%= @mile.email %>
</p>

<%= link_to 'Edit', edit_mile_path(@mile) %> |
<%= link_to 'Back', miles_path %>
