
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "S'MILE", root_path, class: "navbar-brand" %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
        <li class="active"><%= link_to "Match", match_path %></li>
        <li><%= link_to "About", about_path %></li>
        <% if donor_signed_in? %>
          <li><%= link_to 'Edit profile', edit_donor_registration_path %></li>
          <li><%= link_to "Logout", destroy_donor_session_path, method: :delete %> </li>
        <% elsif amnest_signed_in?%>
          <li><%= link_to 'Edit profile', edit_amnest_registration_path %></li>
          <li><%= link_to "Logout", destroy_amnest_session_path, method: :delete %> </li>
        <% else %>
          <li> <%= link_to "Donor Login", new_donor_session_path %> </li>
          <li> <%= link_to "Amnest Login", new_amnest_registration_path %> </li>
        <% end %>
  
      </ul> 

    </div>
  </div>
</div>

  
